# Ignore a specific file
secret.txt
Miniconda3-latest-Linux-x86_64.sh

# Ignore files in a specific directory
/data/
/DB/
/local_chat_history/
/old_chat_history/
/discarded_chat_history/
/local_chat_history_test/
/__pycache__/
/results/
/d_results/
/paper-tables/
/logs/
/log-files/
/test/
/code/local_chat_history/
/code/old_chat_history/
/code/discarded_chat_history/
/code/local_chat_history_test/
/code/__pycache__/
/code/results/
/code/d_results/
/code/paper-tables/
/code/logs/
/code/log-files/
temp.txt
abc.txt
# test.ipynb
